@import "reset";
@import "syntax";

.row {
  margin: 0 auto;
  max-width: 100rem;
  width: 100%;
}

body {
  padding: 0;
  background: white;
}


#header {
  height: 145px;
  margin-bottom: 1rem;
}

#masthead {
  height: 105px;
}

#nav {
  height: 40px;
}


#sidebar {
  min-height: 50rem;

  h2,
  h3 {
    margin-top: 0;
  }
}

#main {
  min-height: 50rem;
  //background-color: green;
}

#main h1 {
  margin-top: 0;
}

ul {
  line-height: 1.818;

  & + ul {
    margin-top: 2rem;
  }
}